.btn{
    background-color: #B68C5A;
    color: #ffffff;
}
.section1st{
    background-size: cover;
    height: 600px;
    position: relative;
}
.accordion-button{
    background:  #F3F3F3;
}

/* -----Responsive styles----- */

@media all and (max-width: 576px) {
    .card{
        border-left: none;
        border-right: none;
    }
      
    .carousel-item img{
        height: 200px;
    }
}